.tel{
    background-color: rgb(163, 170, 171);
    width:100% ;
    max-width:390px ;
    border: 2px solid;
    border-radius: 15px;
    box-shadow:20px 20px 20px rgb(140, 139, 139);
    
}
body{
    display: flex;
    justify-content: center;
    background-color:white;
    
}
.tel-header{
    background-color: rgb(85, 59, 216) ;
    width: 100% ;
    height:300px ;
    border-radius: 15px;

}
.tel-option{
width: 100% ;
 height:200px ;
 border-top-left-radius:20px ;
 border-top-right-radius:20px ;
 margin-top: -100px;
 background-color: white;
 padding-top:50px ;
}
.tel-transaction{
 background-color: white;
 width: 100% ;
 border-bottom-right-radius:15px ;
 border-bottom-left-radius:15px;
 
 margin-top:10px ;
}
.hours{
 width: 100% ;
 height:40px;
 padding-top: 2%;
 display: flex;
 justify-content: space-between;
 color: white;
}
.montant{
 
 width: 100% ;
 height:50px;
 text-align: center;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;

}
.parametre{
 width: 100% ;
 height:10px;
 color: white;
}
.card{
 width: 100% ;
 display: flex;
 align-items: center;
 justify-content: center;
}
.heure{
    width:10% ;
 
}
.photo{
     width:20% ;
     height: 10px ;
     background-color: black;
     border-radius: 15px;
 
 
}
.reseau{
     width:20% ;
 
 
}
#eye{
    margin-left:2px ;

}
.wavecard{
width: 60%;
height:130px ;

}
.options{
    display: flex;
    justify-content: space-evenly;
 
    
}
.img-option{
    width:50px ;
    height:50px ;
    border-radius:25px ;

}
.option{
    width:50px ;
    height:50px ;
    text-align: center;

}
.option2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
 
    
}
.depot{
    display: flex;
    justify-content: space-between;
    color: blue;
    align-items: center;

}
.date{

    color: grey;

}
.transac{
    display: flex;
    flex-direction: column;
}